@{
    ViewData["Title"] = "Kryssordhjelp";
}
<h2>@ViewData["Title"]</h2>

<form>
    <div class="form-group">
        <label for="word">Spørreord</label>
        <input type="text" class="form-control typeahead twitter-typeahead" data-provide="typeahead" id="word" aria-describedby="wordHelp" placeholder="Spørreord" autocapitalize="none" autocomplete="off">
        <!-- <button class="btn bg-transparent" style="margin-left: -40px; z-index: 100;">
            <i class="fa fa-times"></i>
        </button>            -->
        <small id="wordHelp" class="form-text text-muted">Skriv inn ordet du søker etter her</small>
    </div>
    <div class="form-group" id="letter-length-group">
        <label for="letter-length">Hvor mange bokstaver inneholder ordet? </label>
        <select class="form-control" id="letter-length">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>         
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
        </select>              
    </div>
    <div class="form-group" id="letter-button-group">
        <label for="letter-buttons">Skriv inn bokstavene du har</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" id="letter-less"><i class="fas fa-chevron-left"></i></button>
            </div>
            <div id="letter-buttons"></div>                
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="letter-more"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>                
        <small id="patternHelp" class="form-text text-muted">Mønster eller antall bokstaver, se hjelp</small>
        <button type="button" id="submit-show-all" class="btn btn-secondary btn-sm">Vis alle synonymer</button>
    </div>
    <button type="button" id="submit-search" class="btn btn-primary btn-lg">Søk</button>
    <button type="button" id="submit-status" class="btn btn-secondary btn-lg">Vist status</button>
</form>
<br />
<p class="lead" id="search-header"></p>
<div class="table-responsive">
    <table class="table">
    <thead class="thead-light">
        <tr>
        <th scope="col">Synonym</th>
        <th scope="col">Ant. Ord</th>
        <th scope="col">Lengde</th>
        <th scope="col">Bruker</th>
        <th scope="col">Dato</th>
        </tr>
    </thead>
    <tbody id="word-list">
    </tbody>
  </table>
</div>

@section Scripts
{
     @* 
    Javascripts section
    *@
    <script>
        $(function() {
            
            var baseUrl = "@ViewData["ApiBaseUrl"]";
            var baseSynonymUrl = baseUrl + "synonyms/";
            var baseWordUrl = baseUrl + "words/";
            var authUrl = "@ViewData["ApiBaseUrl"]" + "Account/Login";
            var apiUserEmail = "@ViewData["ApiUserEmail"]";
            var apiPassword = "@ViewData["ApiPassword"]";
            var word = "@ViewData["Word"]";
            var token = "@ViewData["Token"]";
            var letterCount = 0;

            // hide button group to start with
			$("#letter-button-group").hide();
                        
            // ensure the Authorization header is added to every request
            $.ajaxSetup({
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + token);                      
                }
            });  

            // load the latest words
            $.ajax({
                url: baseWordUrl,
                type: "GET",
                dataType: "json",
                success: function(data){
                    displaySearchResults(data);
                },
                error: function(error){
                    //console.log(error);
                    displaySearchResults([]);
                }
                });


            // some useful methods
            function isNullOrWhitespace(input) {
                if (typeof input === 'undefined' || input == null) return true;
                
                return input.replace(/\s/g, '').length < 1;
            }
            
            function getPatternString(inputObject) {
                var patternString = '';
                var isEmptyPattern = true;
                $(inputObject).each(function( index, element ) {
                    var input = $(element);
                    var value = input.val();
                    //console.log(index + ': ' + element.id + ' - "' + value + '"');                    
                    if (isNullOrWhitespace(value)) {
                        patternString += '_';
                    } else {
                        patternString += value;
                        isEmptyPattern = false;
                    }
                });          

                return patternString.toUpperCase();
            };

            function dateFormat(dateObject) {
                var d = new Date(dateObject);
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();
                if (day < 10) {
                    day = "0" + day;
                }
                if (month < 10) {
                    month = "0" + month;
                }
                var date = day + "/" + month + "/" + year;

                return date;
            };

            function isEmptyPattern(patternString) {
                return /^(.)\1+$/.test(patternString);
            }

            function displaySearchResults(data) {
                //console.log(data);
                var wordValue = $("#word").val();

                if (letterCount === 0) {
                    if (!isNullOrWhitespace(word)) {
                        $("#search-header").html('Fant <b>' + data.length + '</b> synonym til ' + wordValue);                
                    } else {
                        $("#search-header").html('Viser <b>' + data.length + '</b> siste ord.');
                    }
                } else {
                    var patternString = getPatternString($('#letter-buttons :input'));
                    if (!isEmptyPattern(patternString)) {
                        $("#search-header").html('Fant <b>' + data.length + '</b> synonymer til ' + wordValue + ' med bokstavene <b>' + patternString + '</b>');                        
                    } else {
                        $("#search-header").html('Fant <b>' + data.length + '</b> synonymer til ' + wordValue + ' med <b>' + letterCount + '</b> bokstaver');                        
                    }
                }

                $("#word-list").html('');            
                $.each( data, function( index, element ) {
                    //console.log(index + ' ' + element.wordFrom.value + ' - ' + element.wordTo.value);                    
                    var date = dateFormat(element.createdDate);
                    $("#word-list").append('<tr class="table-row"><th scope="row"><a href="/synonyms/' + element.value + '">' + element.value + '</a></th><td>' + element.numberOfWords + '</td><td>' + element.numberOfLetters + '</td><td>' + element.comment + '</td><td>' + date + '</td></tr>');
                });              
            };

            function displayStatesResults(data) {
                //console.log(data);
                $("#search-header").html('Viser <b>status</b>');

                $("#word-list").html('');            
                $.each( data, function( index, element ) {
                    //console.log(index + ' ' + element.wordFrom.value + ' - ' + element.wordTo.value);                    
                    var date = dateFormat(element.createdDate);
                    $("#word-list").append('<tr class="table-row"><th scope="row"><a href="/synonyms/' + element.word + '">' + element.word + '</a></th><td>' + element.numberOfLetters + '</td><td>' + element.comment + '</td><td>' + element.source + '</td><td>' + date + '</td></tr>');
                });              
            };


            // if we have a search word, perform search
            if (!isNullOrWhitespace(word)) {
                
                $("#word").val(word);            

                var url = baseSynonymUrl + word;
                
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function(data){
                        displaySearchResults(data);
                    },
                    error: function(error){
                        //console.log(error);
                        displaySearchResults([]);
                    }
                });
                
                //$("#submit-search").click();
            }

			$("#submit-search").click(function() {

                var wordValue = $("#word").val();
                var letterLength = $('#letter-length').val();

                if (wordValue === '') {
                    $("#search-header").html('Du må skrive inn et spørreord!');
                    return;
                }
                
                // get pattern
                var pattern = '';
                var isEmptyPattern = true;
                $('#letter-buttons :input').each(function( index, element ) {
                    var input = $(element);
                    var value = input.val();
                    //console.log(index + ': ' + element.id + ' - "' + value + '"');                    
                    if (isNullOrWhitespace(value)) {
                        pattern += '_';
                    } else {
                        pattern += value;
                        isEmptyPattern = false;
                    }
                });          
                
                var url = baseSynonymUrl + wordValue;

                //if (!isEmptyPattern) {
                if (letterLength != 0) {                    
                    url += "/" + pattern;
                    console.log('using search url: ' + url);
                } else {
                    console.log('pattern is empty!');
                }

                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function(data){
                        displaySearchResults(data);
                    },
                    error: function(error){
                        //console.log(error);
                        displaySearchResults([]);
                    }
                });

                return false; // avoid to execute the actual submit of the form.
            });

            $('#letter-more').click(function(e) { // user click on add
                e.preventDefault();
                if (letterCount == 30) return;
                letterCount++;
                $('#letter-buttons').append('<input type="text" class="letter-input" autocomplete="off" id="letter['+ letterCount +']" name="letter[' + letterCount + ']" maxlength="1">');
                //$('#letter-buttons').children('input:last-child').focus();
                $('#letter-more').focus();
                $("#submit-search").click();
            });        

            $('#letter-less').click(function(e) { // user click on remove
                e.preventDefault();
                if (letterCount == 1) return;
                $('#letter-buttons').children('input:last-child').remove();
                //$('#letter-buttons').children('input:last-child').focus();
                $('#letter-less').focus();
                letterCount--;
                $("#submit-search").click();
            });        

            // For on() to be able to delegate you have to call it on a static element that you know is always going to be there and then you pass the dynamic element 
            $(document).on('keyup', '.letter-input', function(e) {
                //alert(e.target.id);
                if (e.which == 37 ) { // left arrow
                    jQuery(this).prev().focus();
                }
                else if (e.which == 39 ) { // right arrow
                    jQuery(this).next().focus();
                }
                else if ((e.which == 8 || e.which == 46) && jQuery(this).val() === '' ) {
                    // backspace = 8
                    // delete = 46
                    jQuery(this).prev('input').focus();
                }
                else
                {
                    jQuery(this).next().focus();
                }
            });

            $('#word').on('keypress', function(e) {
                var code = e.keyCode || e.which;
                if(code==13) {
                    $("#submit-search").click();
                }
            });

            $('#letter-length').on('change', function(e) {
                console.log(this.value);
                
                if(this.value!=0) {
                    
                    $('#letter-buttons').html('');

                    letterCount = this.value;
                    for (var i = 1; i <= letterCount; i++) {
                        $('#letter-buttons').append('<input type="text" class="letter-input" autocomplete="off" id="letter['+ i +']" name="letter[' + i + ']" maxlength="1">');
                    }

			        $("#letter-button-group").show();
			        $("#letter-length-group").hide();
                    $("#submit-search").click();
                }
            });

			$("#submit-show-all").click(function() {
                // reset
                letterCount = 0;
                $('#letter-length').val('0');
                $('#letter-buttons').html('');

                $("#letter-button-group").hide();
                $("#letter-length-group").show();
                $("#submit-search").click();

                return false; // avoid to execute the actual submit of the form.
            });

            $('.typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    limit: 12,
                    async: true,
                    source: function (query, processSync, processAsync) {
                        //processSync(['This suggestion appears immediately', 'This one too']);
                        return $.ajax({
                            url: baseWordUrl + query,
                            type: "GET",
                            dataType: "json",
                            success: function (json) {
                                return processAsync(json);
                            }
                        });                
                    }
                });       

            $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
                $("#submit-search").click();
            });             

			$("#submit-status").click(function() {
               
                var url = baseUrl + 'states';

                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function(data){
                        displayStatesResults(data);
                    },
                    error: function(error){
                        //console.log(error);
                        displayStatesResults(data);
                    }
                });

                return false; // avoid to execute the actual submit of the form.
            });

        }); // document ready        
    </script>
}
